SUBSYSTEM=="input", KERNEL=="event*", ATTRS{name}=="fts_ts", MODE:="0666"
SUBSYSTEM=="input", KERNEL=="event*", ATTRS{name}=="pwm-beeper", MODE:="0666"
SUBSYSTEM=="input", KERNEL=="event*", ATTRS{name}=="Goodix Capacitive TouchScreen", MODE:="0666"
SUBSYSTEM=="hidraw", KERNEL=="hidraw*", ACTION=="add", ATTRS{idVendor}=="03f7", ATTRS{idProduct}=="1218", ATTRS{product}=="iBox2", MODE:="0666", SYMLINK+="cputools%n"
SUBSYSTEM=="tty", KERNEL=="ttyS*", MODE:="0666"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", MODE:="0666"
SUBSYSTEM=="video4linux", KERNEL=="video*",  ACTION=="add", MODE:="0666"
SUBSYSTEM=="i2c-dev", KERNEL=="i2c-*", ACTION=="add", MODE:="0666"
SUBSYSTEM=="rfkill", ACTION=="add", KERNEL=="rfkill*", ATTR{type}=="bluetooth", RUN+="/usr/bin/chmod 0666 /sys%p/state"
SUBSYSTEM=="leds", KERNEL=="moto*", RUN+="/usr/bin/chmod 0666 /sys%p/brightness"
SUBSYSTEM=="pwm", KERNEL=="pwmchip[0-9]", ACTION=="add", RUN+="/usr/bin/chmod 0666 /sys%p/export", RUN+="/usr/bin/chmod 0666 /sys%p/unexport"
SUBSYSTEM=="pwm", KERNEL=="pwmchip[0-9]", ACTION=="change", RUN+="/bin/bash -c '/usr/bin/chmod 0666 /sys/class/pwm/%k/pwm*/*'"
SUBSYSTEM=="subsystem", KERNEL=="gpio", RUN+="/usr/bin/chmod 0666 /sys/class/gpio/export", RUN+="/usr/bin/chmod 0666 /sys/class/gpio/unexport"
SUBSYSTEM=="gpio", ACTION=="add", KERNEL=="gpiochip*", MODE:="0666"
SUBSYSTEM=="gpio", KERNEL=="gpio*", RUN+="/usr/bin/chmod 0666 /sys/class/gpio/%k/direction", RUN+="/usr/bin/chmod 0666 /sys/class/gpio/%k/value", RUN+="/usr/bin/chmod 0666 /sys/class/gpio/%k/active_low", RUN+="/usr/bin/chmod 0666 /sys/class/gpio/%k/edge"
SUBSYSTEM=="backlight", KERNEL=="backlight*", ATTR{bl_power}="0", RUN+="/usr/bin/chmod 0666 /sys%p/brightness"
SUBSYSTEM=="block", ACTION=="add", KERNEL=="mmcblk[1-9]p[0-9]", MODE:="0666", RUN+="/usr/bin/mount-disk.sh %k"
SUBSYSTEM=="block", ACTION=="remove", KERNEL=="mmcblk[1-9]p[0-9]", MODE:="0666", RUN+="/usr/bin/umount-disk.sh %k"
SUBSYSTEM=="usb", ACTION=="add", KERNEL=="sd[a-z][0-9]", MODE:="0666", RUN+="/usr/bin/mount-disk.sh %k"
SUBSYSTEM=="usb", ACTION=="remove", KERNEL=="sd[a-z][0-9]", MODE:="0666", RUN+="/usr/bin/umount-disk.sh %k"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="wlan*", MODE:="0666", RUN+="/sbin/ifconfig %k up"
SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="028e", MODE="0666"
SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="12a8", MODE="0666"
SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="1281", MODE="0666"
SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="1227", MODE="0666"
