[Unit]
Description=chassis service
Requires=network.target
After=network.target

[Service]
Type=forking
ExecStart=/home/i6sp/smart_car_chassis/src/chassis/scripts/tspi_ld06_start/start_chassis.sh
Restart=always
RestartSec=10
User=i6sp

[Install]
WantedBy=multi-user.target

